<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>translation.chat - privacy policy</title>
  <style>body{font-family:'Trebuchet MS'}h2{margin:12px 0 0;}h4{color:#aaa;margin:18px 0 4px;}.content{margin-left:40px;}</style>
</head>
<body>

<img src="./images/logo-translated-chat.png" alt="logo" height="20" /><br>

<div class="content">
    <h2>PRIVACY POLICY</h2>

    <h4>INFORMATION PERSISTENCE</h4>
    >  This website doesn't use a database<br>
    >  This website doesn't retain any user-related information - neither personal information or chat content<br>
    >  None of a user's chat content, or user's name and language are persisted anywhere except for in other user's chat page browser windows until they close their relevant browser window. <br>
    >  None of a user's chat content, or name and language is retained on any webserver logs.<br>
    >  Chat content is transmitted over inheritantly securely encrypted https connections, both between this website's server and user's browser, and between this website's server and any API server. Though never a guarantee of absolute security, the https protocol is currently used by all secure websites.<br>

    <h4>COOKIES</h4>
    >  No cookies or local storage persist after a user's chat session ends when relevant browser window is closed on this website<br>

    <h4>LOCATION DATA</h4>
    >  Approximate city or country level location data is temporary obtained from the IP address associated with a user's connection to this website. <br>
    >  This approximate location data is obtained from the ipwhois.app API service by this website's server. <br>
    >  This approximate location data is used to obtain local time and weather information from the api.weatherapi.com API <br>

    <h4>CONTACT</h4>
    If you have any questions or suggestions about this Privacy Policy or website, please do not hesitate to make contact at chris@creatively.co.uk <br>

    <h4>CARBON EMISSIONS POLICY</h4>
    >  All electricity used by this website, both in the hosting of, and in the development of, is obtained from renewable sources without use of fossil fuels, with the exception of any 3rd party API services used by this website. <br>
    <br>
    <br>

</div>
</body>