<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>translation.chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nunito">
  <link rel="stylesheet" href="./css/topbar.css">
  <link rel="stylesheet" href="./css/room.css">
 
  <script>
    var roomName = "<%= roomName %>"
    var usersIp = "<%= usersIp %>"
    usersIp = usersIp.split(',')[0]
    var supportedLanguagesString =<%-JSON.stringify(supportedLanguages)%>
    var supportedLanguages = JSON.parse(supportedLanguagesString)
  </script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="./js/script.js"></script>

</head>
<body>



  <!-- TOP BAR -->
  <header>
    <div class="topbar">
        <img class="logo" src="./images/logo.png" alt="logo" height="22" />
        <a href="#"><img class="icon-menu" src="./images/icon-menu.png" alt="menu opener" height="24" /></a>
        <script>if (navigator.clipboard && navigator.clipboard.writeText) {
          document.write('<image class="icon-copy" src="./images/icon-copy.png" onclick="copyToClipboard()" />')
        }</script>
    </div>

    <ul class="menu-titles">

        <li class="menu-item about">
            <a href="#" name="#about"><h2>ABOUT</h2></a>
            <div class="menu-item-content">
                >  translated.chat makes life easier for friends with different first languages<br>
                >  translated.chat provides a free chat tool that automatically translates messages as they fly between friends<br>
                >  translated.chat needs no registration or login or any app download, you just land on this webpage, enter your name and language, and start chatting<br>
                >  to invite friends, simply copy the url of the main chat page for them, including the 5 character code that represents your own conversation<br>
                >  translate.chat offers a choice of 88 languages to talk with, and is powered by Google Translate<br>
                >  translate.chat helps bring us global citizens a little bit closer together<br>
            </div>
        </li>

        <li class="menu-item privacy">
            <a href="#" name="privacy"><h2>PRIVACY POLICY</h2></a>
            <div class="menu-item-content">
              <h4>INFORMATION PERSISTENCE</h4>
              >  This website doesn't use a database<br>
              >  This website doesn't retain any user-related information - neither personal information or chat content<br>
              >  None of a user's chat content, or user's name and language are persisted anywhere except for in other user's chat page browser windows until they close their relevant browser window. <br>
              >  None of a user's chat content, or name and language is retained on any webserver logs.<br>
              >  Chat content is transmitted over inheritantly securely encrypted https connections, both between this website's server and user's browser, and between this website's server and any API server. Though never a guarantee of absolute security, the https protocol is currently used by all secure websites.<br>
          
              <h4>COOKIES</h4>
              >  No cookies or local storage persist after a user's chat session ends when relevant browser window is closed on this website<br>
          
              <h4>LOCATION DATA</h4>
              >  Approximate city or country level location data is temporary obtained from the IP address associated with a user's connection to this website. <br>
              >  This approximate location data is obtained from the ipwhois.app API service by this website's server. <br>
              >  This approximate location data is used to obtain local time and weather information from the api.weatherapi.com API <br>
          
              <h4>CONTACT</h4>
              If you have any questions or suggestions about this Privacy Policy or website, please do not hesitate to make contact at chris@creatively.co.uk <br>
            </div>
        </li>

        <li class="menu-item carbon">
            <a href="#" name="carbon"><h2>CARBON USEAGE</h2></a>
            <div class="menu-item-content">
                <h4>CARBON EMISSIONS POLICY</h4>
                All electricity used by this website, both in the hosting of, and in the development of, is obtained from renewable sources without use of fossil fuels, with the exception of any 3rd party API services used by this website. <br>
            </div>
        </li>
    </ul>

    <script>
        var menuIcon = document.querySelector('.icon-menu')
        var menuTitles = document.querySelector('.menu-titles')
        var headingAbout = document.querySelector('.about')
        var headingPrivacyPolicy = document.querySelector('.privacy')
        var headingCarbonUseage = document.querySelector('.carbon')
        menuIcon.addEventListener('click', toggleMenu)
        headingAbout.addEventListener('click', toggleMenuItem)
        headingPrivacyPolicy.addEventListener('click', toggleMenuItem)
        headingCarbonUseage.addEventListener('click', toggleMenuItem)

        function toggleMenu() {
            menuTitles.classList.contains('open') ? menuTitles.classList.remove('open') : menuTitles.classList.add('open')
            return false
        }

        function toggleMenuItem(e) {
            var contentDiv = e.target.parentElement.parentElement.querySelector('.menu-item-content')
            contentDiv.classList.contains('open') ? contentDiv.classList.remove('open') : contentDiv.classList.add('open')
            return false
        }
    </script>
  </header>

  <!-- LIST OF MESSAGES -->
  <div id="message-container">
  
  </div>
  

  <!-- MODAL FOR NAME AND LANGUAGE -->
  <div class="card">
    <h3>Translated chat<br>
      with up to 4 different languages in any group session
    </h3><br>
    
    <script>
      if (navigator.clipboard && navigator.clipboard.writeText) {
        document.write(
          'Copy this url to invite others<br>'+
          '<div class="url">'+
            '<image class="icon-copy" src="./images/icon-copy.png" onclick="copyToClipboard()" />'+
          '</div>'
        )
      }
    </script>

    <form class="name-and-language-form">

      <label for="input-name">Your name</label><br>
      <input
        id="input-name"
        type="text"
        name="name"
        aria-label="your name" 
        required
      /><br>

      <label for="select-language">Your language</label><br>
      <select id="select-language" name="language">
        <option value="en" label="English">English</option>
      </select>

      <div class="row justify-content-end">
          <div class="form-group col-sm-6">
            <button type="submit" class="btn-block btn-primary">Start Chat!</button>
          </div>
      </div>

    </form>
  </div>


  <!-- MESSAGE ENTERING BOX -->
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
  </form>

</body>
</html>