<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    body {
      font-family: 'Trebuchet MS';
      padding: 0;
      margin: 0;
      background-color: #03e3fc;
      background: url('/images/cartoon-blue-background.jpg') no-repeat center fixed;
      background-size: cover;
    }

    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    /* ------ Messages Area ----- */

    #message-container {
      position: fixed;
      bottom: 90px;
      padding: 0px 10px;
      font-size: 20px;
      width: calc(100% - 20px);
    }

      #message-container div {
        padding: 0;
        margin-bottom: 5px;
      }

        .text-bubble {
          margin-bottom: 0;
        }
          .me .text-bubble {
            margin-left: 11%;
          }
          .other .text-bubble {
            margin-right: 10%;
          }
          .text-bubble span {
            position: relative;
            background: #fff;
            color: #000;
            font-family: Arial;
            font-size: 20px;
            line-height: 28px;
            box-shadow: 7px 7px 14px -3px #555;
            text-align: center;
            border-radius: 10px;
            padding: 3px 10px;
            border: 2px solid black;
            display: inline-block;
            padding: 6px 12px;
          }
          .text-bubble span:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 0 10px 9px 0;
            border-color: transparent #fff transparent transparent;
            box-shadow: 5px 1px 1px -1px #555;
            bottom: -9px;
            left: 20px;
            margin-left: -5px;
          }
          .me .text-bubble span:after {
            left: auto;
            right: 20px;
          }

        .text-name {
          position: relative;
          left: 20px;
        }

        .me {
          text-align: right;
        }

        .me .text-name {
          line-height: 1px;
        }

        .me .text-bubble {

        }

        .other .text-name {
          font-size: 15px;
          color: #20647a;
        }

        .text-info {
          margin-left: -10px;
          width: 100%;
          margin-right: 20px;
          font-size: 15px;
          color: white;
          background-color: #20647a;
          padding: 9px 20px !important;
        }

        .other .text-bubble {
          
        }

        #message-container .text-bubble {
          color: black;
          padding-bottom: 0;
        }

        #message-container .text-name {
          padding-top: 0;
        }


    /* ---------------------------------------------- */

.modal-background {
  z-index:2;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  padding:5px 20px;
  border-top: 1px solid black;
  bottom: 0;
  height: 62px;
  width: 100%;
}

.card {
  margin: 10px auto;
  text-align: center;
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 2px solid black;
  box-shadow: 14px 14px 20px -3px #555;
  background-color: white;
  border-radius: 10px;
  max-width: 350px;
  z-index: 3;
  text-align: center;
}

  input,
  select, 
  button {  
      padding: 8px 15px;
      border-radius: 5px;
      margin: 5px 0px 10px 0px;    
      border: 1px solid #000;
      box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 2px 2px;
      font-size: 18px;  
      font-weight: 300;
  }

  button,
  select {
    width: 220px;
  }

  button {
    margin-top: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
  }


  /* Message typing block */

  #send-container {
    position: fixed;
    padding:5px 20px;
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
  }

    #message-input {
      width: calc(100% - 190px);
      margin-right:10px;
      min-width: 220px;
      max-width: 1100px;
      border: 2px solid black;
      border-radius: 10px;
    }

    #message-input:focus {
      border-color: black;
    }

    #send-button {
      width: 100px;
    }


  </style>
</head>
<body>

  <!-- LIST OF MESSAGES -->
  <div id="message-container">

  </div>

  <!-- MODAL FOR NAME AND LANGUAGE -->
  <div class="card">
      <h3 class="text-center mb-4 visuallyhidden">Please provide your name and language</h3>
      <form class="name-and-language-form">

        <label for="input-name">your name</label><br>
        <input
          id="input-name"
          type="text"
          name="name"
          aria-label="your name" 
          required
        /><br>

        <label for="select-language">your language</label><br>
        <select id="select-language" name="language">
          <option value="en" label="English" selected>English</option>
          <option value="sw" label="Swahili">Swahili</option>
          <option value="es" label="Spanish">Spanish</option>
          <option value="cy" label="Welsh">Welsh</option>
          <option value="mg" label="Malagasy">Malagasy</option>
          <option value="fr" label="French">French</option>
          <option value="hi" label="Hindi">Hindi</option>
        </select>

        <div class="row justify-content-end">
            <div class="form-group col-sm-6">
              <button type="submit" class="btn-block btn-primary">Start Chat!</button>
            </div>
        </div>

    </form>
  </div>


  <!-- MESSAGE ENTERING BOX -->
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
  </form>

  <div class="modal-background"></div>

  <script>
    document.getElementById('select-language').value = navigator.language.substring(0,3);
  </script>

</body>
</html>