<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>translation.chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
  <link rel="stylesheet" href="./css/room.css">
 
  <script>
    const roomName = "<%= roomName %>"
    const supportedLanguagesString =<%-JSON.stringify(supportedLanguages)%>
    const supportedLanguages = JSON.parse(supportedLanguagesString)
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="./js/script.js"></script>

</head>
<body>

  <!-- LIST OF MESSAGES -->
  <div id="message-container">
  
  </div>
  

  <!-- MODAL FOR NAME AND LANGUAGE -->
  <div class="card">
    <h3 class="text-center mb-4 visuallyhidden">Please provide your name and language</h3>

    <div class="welcome">
      <h3>A simple chat webpage supporting up to 4 different languages in any group session</h3><br>
      Copy this url to invite others<br>
      <div class="url">
        <script>
          document.write("<input type='text' class='link-text' value='"+location.href+"' /><br>")
        </script>
        <image class="icon-copy" src="./images/icon-copy.png" onclick="copyToClipboard('.link-text')" />
      </div>
    </div>

    <form class="name-and-language-form">

      <label for="input-name">Your name</label><br>
      <input
        id="input-name"
        type="text"
        name="name"
        aria-label="your name" 
        required
      /><br>

      <label for="select-language">Your language</label><br>
      <select id="select-language" name="language">
        <option value="en" label="English">English</option>
      </select>

      <div class="row justify-content-end">
          <div class="form-group col-sm-6">
            <button type="submit" class="btn-block btn-primary">Start Chat!</button>
          </div>
      </div>

    </form>
  </div>


  <!-- MESSAGE ENTERING BOX -->
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
  </form>

  <div class="modal-background"></div>


</body>
</html>