body {
    font-family: Arial, serif;
    letter-spacing: 0.7px;
    padding: 0;
    margin: 0;
    background: no-repeat center fixed;
    background-color: #02cde3;
    background-size: cover;
    font-family:'Nunito','Arial';
  }
  body.bg {
    background-image: url('/images/cartoon-blue-background.jpg');
  }
  /* viewport flexer to go with relevant js */
  body {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }

  a {
    text-decoration: none
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }


  /* ------ Messages Area ----- */

  #message-container {
    z-index:8;
    position: relative;
    bottom: 97px;
    padding: 110px 10px 0;
    font-size: 20px;
    width: calc(100% - 20px);
    height: auto;
  }

    #message-container div {
      padding: 0;
      margin-bottom: 5px;
    }

      .text-bubble {
        margin-bottom: 0;
      }
        .me .text-bubble {
          margin-left: 11%;
        }
        .other .text-bubble {
          margin-right: 10%;
        }
        .other .text-name {
          margin-top: 3px;
        }
        .text-bubble span {
          position: relative;
          background: #fff;
          color: #000;
          font-family: 'Delius', sans-serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          box-shadow: 7px 7px 14px -3px #555;
          text-align: center;
          border-radius: 16px;
          padding: 1px 10px;
          border: 2px solid black;
          display: inline-block;
          padding: 6px 12px;
          margin-bottom: 6px;
          opacity: 0;
          animation: fader 0.75s linear;
          animation-fill-mode: forwards;
        }
        .text-bubble span:after {
          content: '';
          position: absolute;
          display: block;
          width: 0;
          z-index: 1;
          border-style: solid;
          border-width: 0 10px 9px 0;
          border-color: transparent #fff transparent transparent;
          box-shadow: 5px 1px 1px -1px #555;
          bottom: -9px;
          left: 20px;
          margin-left: -5px;
        }

        .me .text-bubble span:after {
          left: auto;
          right: 20px;
        }

        @keyframes fader {
          50% {
            opacity: 0.1;
          }
          90% {
            opacity: 0.9;
            box-shadow: 0px 0px 0px #555;
          }
          100% {
            opacity: 1;
            box-shadow: 7px 7px 14px -3px #555;
          }
        }

      .text-name {
        position: relative;
        left: 20px;
      }

      .me {
        text-align: right;
      }

      .me .text-name {
        line-height: 1px;
      }

      .other .text-name {
        font-size: 15px;
        color: #20647a;
      }

      .text-info {
        margin-left: -10px;
        width: 100%;
        margin-right: 20px;
        line-height:26px;
        font-size: 16px;
        color: white;
        background-color: #20647a;
        padding: 9px 20px !important;
        text-align: center;
      }

        .icon-flag {
          height: 14px;
          width: 24px;
          margin: 0 4px -2px 5px;
        }

        .icon-weather {
          height: 30px;
          width: 36px;
          margin: 0 -6px -10px;
        }

        i.person-name {
          font-style: normal;
          color: aqua;
          margin-right: 2px;
        }

        .url {
          padding-left: 18px;
        }

      .text-subinfo {
        position: fixed;
        bottom: 60px;
        height: 22px;
        line-height: 22px;
        background: aqua;
        color: black;
        font-size: 12px;
        margin: 0 20px 0 -10px;
        width: 100%;
        padding: 2px 20px !important;
        text-align: center;
        box-shadow: 2px 2px 12px 1px #555;
        z-index:8;
      }
      #message-container div.text-subinfo {
        margin-bottom: 4px;
      }

        .text-subinfo span {
          padding: 1px 18px;
          margin: 0 8px;
          background: #20647a;
          border-radius: 10px;
          color: white;
        }

      #message-container .text-bubble {
        color: black;
        padding-bottom: 0;
      }


/* ------ Start Card Message ----- */ 

.card {
  margin: 10px auto;
  text-align: center;
  padding: 30px 40px;
  margin-bottom: 60px;
  border: 2px solid black;
  box-shadow: 14px 14px 20px -3px #333;
  border-radius: 10px;
  max-width: 350px;
  z-index: 3;
  text-align: center; 
  background:#017387;
  color:white;
  text-align: center;
}
.card h1{
  font-size: 26px;
}
  .card-bulletpoints {
    margin-top:0;
    display: inline-block;
    text-align: left;
  }

.url {
  position: relative;
  border-radius: 8px;
  padding: 6px 0;
}
  .link-text {
    display: inline-block;
    margin: -8px 7px 0; 
    border: 0;
    background: #20647a;
    box-shadow: none;
    outline:none;
    width: 100%;
    font-size: 15px;
    color: #bbb;
  }
  .icon-copy {
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    background: #f282fa;
  }
    .icon-copy.copied {
      opacity: 0.6;
    }

.name-and-language-form {
  background: #20647a;
  color: white;
  border-radius: 8px;
  padding: 18px 0 10px;
}

input,
select, 
button {  
    border-radius: 5px;
    margin: 5px 0px 10px 0px; 
    padding: 0 10px;   
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 2px 2px 2px;
    font-size: 18px;  
    font-weight: 300;
    outline: none;
    width: calc(100% - 150px);
    height: 40px;
}

button,
select {
  width: 220px;
}

button {
  margin-top: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}


/* ------ Message Typing Area ----- */

#send-container {
  display:none;
  position: fixed;
  padding: 0 10px;
  bottom: 0;
  width: 100%;
  background:linear-gradient(to right, #017387 0%, #00B1D1 80%);
  box-shadow: -1px -1px 7px 0 #000;
  z-index:8;
}

  #message-input {
    width: calc(100% - 166px);
    margin-right:6px;
    min-width: 220px;
    max-width: 1100px;
    border: 2px solid black;
    border-radius: 10px;
    outline:none;
  }

  #send-button {
    width: 100px;
    background-color:#017387
  }

/* ----- Overlay ----- */

#overlay {
  display: none;
  z-index: 9;
  background: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#overlay.on {
  display: block;
}